
body{
    background-color: #F6F7CE;
}

a{
    color:#FAAD73;
}

a:visited{
    color:#AA715E;
}

p, li, .contact a{
    color: #582D1B;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1, h2{
    color: #4682b4;
}

.evenrow{
    background-color: #dcdcdc;
}

table, th, td {
    border: 1px solid;
  }

h1{
    font-size: 2em;
}

nav{
    background-color: #FFFFB3;
    padding: 10px;
    margin-bottom: 30px;
}

nav a{
    color: #392E32;
}

nav a:hover{
    background-color:#DEDFD8;
}

.techskills{
    text-align: center;
    margin-top: 50px;
}

.icon{
    width: 40px;
    justify-content: center;
}

.python{
    width: 40px;
    margin: 5px;
}

.psd{
    width: 40px;
    margin: 5px;
}

.bezier{
    width: 50px;
    margin: 5px;
}

.row{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: 20px;
}

aside{
    background-color: #ffffff;
    border-radius: 3em;
    width: 300px;
    padding: 40px;

}

.flexbox2{
    display: flex;
}

.col1{
    margin-left: 50px;
    flex: 3;
}

.col2{
    flex: 1;
    margin-right: 30px;
}

.bioheader{
    max-width: 100%;
}

.row2{
    flex-wrap: wrap;
}

.quote{
    float: right;
}

.skip {
    background-color: #FFFFB3;
    padding: 5px;
    border: 1px solid black; /*border = combo property*/
    position: absolute; /*takes out of normal flow, allowed to overlap stuff*/
    top: 30px;
    left: -999px; /*pushes element offscreen*/
}

.skip:focus{ /*focus is a pseudo class that means the element has been tabbed to*/
    left: 10px;
}

@media only screen and (max-width: 800px) {
    nav a{
        width:100%;
        display:block;
        padding:10px;
    }
    .vert{
        display:none;
    }
}